<div class="container-fluid" >
  <div class="row">
    <div class="col-md-6 left" style="width: 15%;">      <app-sidebar></app-sidebar>
    </div>
    <div>

      <div style="padding-left: 20%">
        <div>
          <canvas id="myChart"></canvas>
        </div>

      </div>
    <hr>
      <div style="padding-left: 20% ;padding-top: 5%;padding-bottom: 5%">
        <p class="chart-label" style="padding-left: 36%">Property per Type</p>
        <canvas  id="MyChart2" >{{ chart }}</canvas>
      </div>
<hr>
      <div style="padding-left: 20% ;padding-top: 5%;padding-bottom: 5%">
        <p class="chart-label" style="padding-left: 36%">Property per Week and Category</p>
          <canvas  id="MyChart3" >{{ chart }}</canvas>
        </div>

      </div>



    </div>
  </div>

